{% extends 'admin/base_site.html' %}

{% block title %}
User Statistics
{% endblock %}

{% block content %}
    <h1>Всего пользователей - {{ all_users }} </h1>
    <h1>Всего запросов - {{ all_requests }} </h1>
    <h1>Запросов на пользователя - {{ requests_for_user }} </h1>
</br>
   <h1>Количество пользователей по датам</h1>
    <p>
    <table>
        <tr>
           <th>Дата</th>
            <th>Количество пользователей</th>
           <th>Общее количество пользователей</th>
        </tr>
        {% for row in users_count %}
        <tr>
            <td>{{ row.created_date }}</td>
            <td>{{ row.total }}</td>
            <td>{{ row.cumulative_total }}</td>
        </tr>
        {% endfor %}
    </table>
    </p>

    <p>
    <br>
    <h1>Запросы в разрезе пользователей </h1>

    <table>
        <tr>
           <th>Никнейм пользователя</th>
            <th>Количество запросов</th>
        </tr>
        {% for row in user_actions %}
        <tr>
            <td>{{ row.telegram_user__username }}</td>
            <td>{{ row.count_requests }}</td>
        </tr>
        {% endfor %}
    </table>
    </p>
    <p>
    <br>
        <h1>Запросы по датам </h1>
    
        <table>
            <tr>
               <th>Дата</th>
                <th>Количество запросов</th>
            </tr>
            {% for row in datetime_actions %}
            <tr>
                <td>{{ row.request_date }}</td>
                <td>{{ row.total }}</td>
            </tr>
            {% endfor %}
        </table>
    </p>
{% endblock %}

