SECRET_KEY="5sr_o164-b_h3^$bg4pl8pfk7xbd3#=(oul8s@u&4m4bbn*7y%"
CSRF_TRUSTED="127.0.0.1"
DEBUG="True"
DB_ENGINE="django.db.backends.postgresql"
DB_NAME="postgres"
DB_USER="postgres"
POSTGRES_PASSWORD="postgres"
DB_HOST="db" # как название контейнера с БД в Docker
DB_PORT="5432"
TELEGRAM_TOKEN="Замените эту строку на token, полученный от @BotFather"
CHANNEL_USERNAME="@your_chanel_name"
HTTPS_PROXY="https://USER:PASSWORD@PROXY_IP:PROXY_PORT"
HTTP_PROXY="http://USER:PASSWORD@PROXY_IP:PROXY_PORT"
WEBHOOK_URL="https://YOUR_SERVER_URL"
WEBHOOK_PORT="8443"
WEBHOOK_LOCAL_LINK="0.0.0.0"
ADMIN_USERNAME="adminlogin"
ADMIN_PASSWORD="adminpassword"
ADMIN_EMAIL="admin@mailbox.com"
ADMIN_FIRSTNAME="Jack"
ADMIN_LASTNAME="Daniels"
