{% load i18n admin_urls %}

<div class="submit-row">
{% block submit-row %}
{% if show_save %}<input type="submit" value="Сохранить и выйти" class="default" name="_save">{% endif %}
{% if show_save_and_continue %}<input type="submit" value="{% if can_change %}{% translate 'Save and continue editing' %}{% else %}{% translate 'Save and view' %}{% endif %}" name="_continue">{% endif %}
{% if show_close %}
    {% url opts|admin_urlname:'changelist' as changelist_url %}
    <a href="{% add_preserved_filters changelist_url %}" class="closelink">{% translate 'Close' %}</a>
{% endif %}
{% if show_delete_link and original %}
    {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
    <a href="{% add_preserved_filters delete_url %}" class="deletelink">{% translate "Delete" %}</a>
{% endif %}
</div>

{% if object_id != None %}
<div class="submit-row">
    {% comment %} <input value="Добавить всех в рассылку" type="button" onclick="location.href='{% url 'admin:recipients_view' object_id=object_id %}'" /> {% endcomment %}
    <input value="Сохранить и добавить всех в рассылку" type="submit" name="_add_all_users" />
    <input value="Сохранить и отправить сообщение в рассылку" type="submit" name="_send_mailing" />
</div>
{% endif %}

{% endblock %}
